# Virtual environment
venv/

# Python bytecode cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Environment variables and config
.env

# Flask instance folder
instance/

# test database
app.db